/*** Main Css */

/*** Fonts ***/
@font-face {
    font-family: 'ProximaNova-Regular'; 
    src: url('../fonts/proxima-nova/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'ProximaNova-Black'; 
  src: url('../fonts/proxima-nova/ProximaNova-Black.otf');
}


/*** Global Styles */
body{
    font-family: 'ProximaNova-Regular'; 
    
    color:#fff;
    margin: 0;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-family: 'ProximaNova-Black'; 
}

body > div {
  mix-blend-mode: saturation !important;
  filter: opacity(0) !important;
}

/*** Horizontal Scrolling */
.fp-controlArrow {
  display: none;
}


/*===== All Preloader Style =====*/
.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999;
  }
  
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
  }
  
  .preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568.2353ms linear infinite;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
  }
  
  .preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #1A374D #1A374D #F4EEFB;
    border-radius: 50%;
    border-width: 6px;
  }
  
  .preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #F4EEFB;
    animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #F4EEFB;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  /* Preloader Animations */
  
  @keyframes spinner-linspin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    to {
      transform: rotate(1080deg);
    }
  }
  
  @keyframes spinner-left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(130deg);
    }
  }
  
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-130deg);
    }
  }


/*** SVG ***/
@keyframes draw {
    from {
        stroke-dashoffset: 500
    }

    to {
        stroke-dashoffset: 1000
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000
    }

    to {
        stroke-dashoffset: 500
    }
}
.svg__wrapper {
    width: 500px;
    margin: 0 0 0 auto;
}
svg.oc-cont {
    width: 200px;
}
svg.oc-cont1 {
    background: radial-gradient(circle, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 80%);
    border-radius: 50%;
    padding: 30px;
}
.path {
    stroke-dasharray: 3;
    stroke-dashoffset: 100;
    animation: dash 15s linear infinite;
}
.op-path {
    stroke-dasharray: 2;
    stroke-dashoffset: 1000;
    animation: 60s linear infinite dash;
}
.pcircle-path-rev {
    stroke-dasharray: 15;
    stroke-dashoffset: 1000;
    animation: draw 15s linear infinite;
}
.pcircle-path-center {
  stroke-width: 70;
  fill: none;
  stroke: url(#grad);
  stroke-dasharray: 600;
  stroke-dashoffset: 500;
  animation: dash 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
.pcircle-path-center1 {
  stroke-width: 50;
  fill: none;
  stroke: url(#grad);
  stroke-dasharray: 800;
  stroke-dashoffset: 1000;
  animation: draw 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    
}
.pcircle-path-center3{
  stroke-width: 50;
  fill: none;
  stroke: url(#grad);
  stroke-dasharray: 150;
  stroke-dashoffset: 600;
  animation: draw 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  --colorA: #C0EEFF;
  filter: drop-shadow(0 0 2px var(--colorA)) drop-shadow(0 0 5px var(--colorA)) drop-shadow(0 0 10px var(--colorA)) drop-shadow(0 0 15px var(--colorA)) drop-shadow(0 0 25px var(--colorA));
}

/*** Header */
header {
    padding: 20px ;
    position: fixed;
    display: block;
    z-index: 3;
    height: 100%;
}
.head {
  display: none;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
}
ul.navigation__menu {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.logo {
  padding: 20px 0 50px;
}


.nav__hover{
  width: 100% !important;
}
li.navigation__menu-item {
  
  display: block;
  align-items: center;
  width: 0;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  border-radius: 20px;
}
.nav__title-slide{
  opacity: 1 !important;
  right: 0 !important;
  position: relative !important;
}
li.navigation__menu-item a {
  color: #000428;
  background: #fff;
  padding: 10px 0;
  width: 100%;
  opacity: 0;
  display: block;
  right: 100%;
  transition: 0.5s;
  border-radius: 20px;
  text-align: center;
}
li.navigation__menu-item:before {
  content: '';
  width: 40px;
  position: absolute;
  color: #fff;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}

/*** Footer */
footer {
    /* height: 100vh;
    padding: 50px 0; */
}
/* section#banner-section\ slide1 {
  background-image: url(../images/test__bg.jpg) !important;
  height: 100%;
  background-size: cover;
  width: 100% !important;
  background-repeat: no-repeat;
} */

/*** Banner */
.banner-section__bg {
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    position: relative;
    display: flex;
}
.banner-section__bg:after {
    content: '';
    
    min-height: 500px;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.banner-section__bg .container{
    z-index: 2;
}

.banner__wrapper {
    display: flex;
    align-items: center;
}
.banner__txt {
    width: 50%;
}
.banner__txt h1 {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 25px;
  letter-spacing: 5px;
}
.banner__txt p {
  font-size: 30px;
  margin-top: 0;
  position: relative;
}
.banner__txt p:before {
  content: '';
  width: 15%;
  position: absolute;
  height: 10px;
  background: #fff;
  bottom: -25px;
  border-radius: 30px;
}
.banner__image {
    width: 50%;
    text-align: right;
}

/*** About */
section#about-section\ slide2.active ul.about__list-wrap {
  width: 40% !important;
  opacity: 1 !important;
}

.about__col h2 , .contact__wrapper h2{
  font-size: 40px;
}
.about__col p , .contact__wrapper p{
  font-size: 20px;
  line-height: 1.5em;
}
#about-section {
    /* height: 100vh;
    padding: 50px 0; */
}
.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.about__col-img {
    width: 60%;
    position: relative;
}
.about__col-txt {
  width: 40%;
  height: 100%;
  padding-left: 50px;
}
.about__col-img img {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}
.about__col-img img {
  width: 100%;
  object-fit: cover;
}
.about__list-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,4,40,1) 30%, rgb(0 78 146) 100%) !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0 30px 0 45px;
  transition: all 1s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:first-child {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 0.2s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(2) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 0.4s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(3) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 0.6s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(4) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 0.8s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(5) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 1s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(6) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 1.2s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(7) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 1.4s ease-in-out;
}
section#about-section\ slide2.active .about__list-item:nth-child(8) {
  opacity: 1 !important;
  bottom: 0 !important;
  transition: all 1.6s ease-in-out;
}
.about__list-item {
  opacity: 0;
  bottom: -30px;
}
.about__list-item {
  padding: 25px 0 0;
  font-size: 18px;
  position: relative;
  left: 0;
  /* cursor: pointer; */
}
.about__list-item:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 30px;
  left: -21px;
  top: 31px;
  transition: all 0.5s ease-in-out;
}
/* .about__list-item:hover{
  left: 15px !important;
  transition: all 0.5s ease-in-out;
} */
.about__col-txt p {
  line-height: 25px;
}

/*** Works */
.works__filter-wrapper h2 {
  font-size: 40px;
}
#works-section{
    /* padding: 50px 0; */
}
.filter__content {
    width: 33.33%;
}
.filter__content-container {
  /* overflow-y: scroll; */
  height: 600px !important;
}
.filter__content-image a {
  display: block;
  position: relative;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}
.filter__content-image a:before {
  content: '';
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgb(0 78 146 / 47%) 80%) !important;
  left: 0;
  top: 0;
  height: 100% !important;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 16px;
}
.filter__content-image a:hover:before {
  opacity: 0 !important;
}
.filter__content-image a:hover {
  transform: scale(1.1);
}
.filter__buttons-container {
  margin: 20px;
  display: flex;
  gap: 15px;
}
.filter__content-image {
    display: block;
    margin: 20px;
}
.filter__content-image img {
    width: 100%;
    object-fit: cover;
    height: 260px !important;
    display: block;
    border-radius: 20px;
}
button.filter__buttons {
    background: #004e92;
    border: 0;
    color: #fff;
    padding: 10px 35px;
    cursor: pointer;
    font-family: 'ProximaNova-Regular';
    display: block;
    border-radius: 30px;
}
button.filter__buttons.active {
    background: radial-gradient(circle, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 80%);
}
.works__filter-wrapper h2 {
  margin: 20px;
}

/*** SVG ***/
object {
  width: 600px;
  margin: 0 auto;
  display: block;
}

object.logo__svg {
  height: 100px !important;
  width: 100px !important;
  z-index: 1;
  position: relative;
  display: block;
}

img.logo__svg {
  width: 120px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 80%);
}

.logo a {
  display: block;
}

/*** Fullpage.js Error */
body > div a {
    display: none !important;
}


div#main__content-wrapper {
  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 80%) !important;
}

/*** Bubbles */
canvas#bubbles {
  position: absolute;
  z-index: 0;
  width: 100% !important;
  left: 0;
  top: 0;
  height: 100% !important;
}